@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    World Vision House<br />
    Opal Drive<br />
    Fox Milne<br />
    Milton Keynes <br/>
    MK15 0ZR <br/>
    <abbr title="Phone">Ph:</abbr>
    01908 84 10 00
</address>

<address>
    <strong>Email:</strong>   <a href="info@worldvision.org.uk">info@worldvision.org.uk</a><br />
</address>