@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:orangered;"> Hello World Vision!</h1>
    <p class="lead">  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about ASP .NET &raquo;</a></p>
</div>

<div>
    <p>Hello World Vision is a blank ASP. NET MVC 5 web application that can be used as scaffolding </p>
    <p>for building ASP .NET MVC 5 solutions</p>

</div>
